<a href="https://colab.research.google.com/github/lintanggilang/Praktik-Machine-Learning/blob/master/Scrap_Udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("lintang")

lintang

In [ ]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import time

In [ ]:
#Selenium
driver = webdriver.Chrome()

driver.get("https://www.udemy.com/topic/python")

time.sleep(30)

In [ ]:
from bs4 import BeautifulSoup as soup
import pandas as pd

In [ ]:
page_source = driver.page_source

html = soup(page_source, 'lxml')

In [ ]:
table = html.find_all('div', class_='panel--panel--3NYBX')[2]

data = []
for tag in table.find_all('label', class_='udlite-toggle-input-container udlite-text-sm'):
    data.append(tag.text)
    
df_topik = pd.DataFrame(data, columns = ['data'])

new = df_topik["data"].str.split("(", n = 1, expand = True) 

df_topik["Topik"]= new[0] 
df_topik["Total"]= new[1] 

df_topik.drop(columns =["data"], inplace = True)
df_topik['Total'] = df_topik['Total'].str.replace(")","")

In [ ]:
df_topik

               Topik   Total
0            English  10.000
1          Português   1.633
2            Español   1.124
3             Türkçe     628
4            العربية     474
5           Français     415
6            Deutsch     366
7                 中文     298
8           Italiano     250
9   Bahasa Indonesia     245
10            हिन्दी     189
11           Русский     181
12               日本語     168
13            Polski     150
14               한국어      54
15              اردو      54
16           ภาษาไทย      53
17             தமிழ்      28
18            Telugu      26
19            Română      24
20        Nederlands      20
21        Tiếng Việt      14
22   Azərbaycan dili       9
23           ‏עברית‏       6
24          Ελληνικά       5
25             मराठी       5
26            नेपाली       5
27         Malayāḷam       4
28        မြန်မာဘာသာ       4
29           Čeština       3
30         Afrikaans       2
31         Български       2
32            Bangla       2
33             Suomi       2
34            Magyar       2
35     Bahasa Melayu       2
36        Українська       2
37         Aymar aru       1
38             Eesti       1
39             فارسی       1
40           ગુજરાતી       1
41          Hrvatski       1
42             Khmer       1
43           Kannaḍa       1
44             Kurdî       1
45          Latviešu       1
46             Norsk       1
47           Svenska       1

In [ ]:
table = html.find_all('div', class_='panel--panel--3NYBX')[3]

data = []
for tag in table.find_all('label', class_='udlite-toggle-input-container udlite-text-sm'):
    data.append(tag.text)
    
df_subkategori = pd.DataFrame(data, columns = ['data'])

new = df_subkategori["data"].str.split("(", n = 1, expand = True) 

df_subkategori["Sub Kategori"]= new[0] 
df_subkategori["Total"]= new[1] 

df_subkategori.drop(columns =["data"], inplace = True)
df_subkategori['Total'] = df_subkategori['Total'].str.replace(")","")

In [ ]:
df_subkategori

  Sub Kategori   Total
0     Berbayar  10.000
1       Gratis   1.927